.header {
    background: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    gap: 1rem;
}

.header img {
    height: 4rem;
}

.header a {
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--color-2);
    color: var(--color-4);
    display: flex;
    align-items: center;
}
