.productContent {
    background: var(--color-1);
    border-radius: 8px;
    display: flex;
    margin: 0 10rem 2rem;
    gap: 4rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px var(--color-2);
}

.productDetails h3{
    margin-top: 1rem;
    font-size: 2rem;
}

.productDetails h2 {
    font-size: 2rem;
}

.productDetails p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.productContent img {
    height: 25rem;
    border-radius: 8px;
    box-shadow: 0 -2px 15px var(--color-6);
}

.cartbuttom {
    margin-top: 2.5rem;
    
}

.cartbuttom a {
    color: var(--color-1);
    border-radius: 8px;
    background: var(--color-3);
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    text-shadow: 1.5px 1.5px 3px var(--color-2);
}

.cartbuttom a:hover {
    opacity: 80%;
    transition: 0.2s;
    border: solid var(--color-2);
}

.cartbuttom strong {
    margin-bottom: 1rem;
}