.productContent {
    background: var(--color-1);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: flex-start;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 1px 1px 10px var(--color-2);
}

@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
    .productContent {
        grid-template-columns: 1fr;
        margin: 1rem;
    }
}

.productDetails {   
    display: grid;
    justify-content: center;
}

.productDetails h3{
    margin-top: 1rem;
    font-size: 2rem;
}

.productDetails h2 {
    font-size: 2rem;
}

.productDetails p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.productContent img {
    height: 30rem;
    width: 30rem;
    border-radius: 8px;
    box-shadow: 0 -2px 15px var(--color-6);
}

.cartbuttom {
    margin: 2.5rem 0;
}

.cartbuttom a {
    color: var(--color-1);
    border-radius: 8px;
    background: var(--color-3);
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    text-shadow: 1.5px 1.5px 3px var(--color-2);
}

.cartbuttom a:hover {
    opacity: 80%;
    transition: 0.2s;
    border: solid var(--color-2);
}

.cartbuttom strong {
    margin-bottom: 1rem;
}